#more {
  padding-top: 300px;
  .more {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(17px);
    border-radius: 10px;
    width: 1300px;
    height: 259px;
    z-index: 3;


    &__img {
      position: absolute;
      left: 0;
      top: 0;
    }
    &__img2 {
      position: absolute;
      left: 840px;
      top: 90px;
    }

    &__title {

      h1 {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 49px;
        color: #FFFFFF;
        margin-bottom: 15px;
      }

      p {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 39px;
        color: #FFFFFF;

      }
    }

    &__btn {
      margin-left: 110px;
      display: flex;
      flex-direction: column;

      &--btn1 {
        background: white;
        width: 186px;
        height: 46px;
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        color: blue;
        font-weight: 600;
      }

      &--btn2 {
        width: 186px;
        height: 46px;
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        color: white;
      }

      button {
        margin: 10px 0;

      }
    }
  }
}

.more:hover{

  .more__img{
    transition: .4s;
    transform: scaleX(1.3)  scaleY(1.3);
    margin-top: -45px;
    margin-left: 5px;
  }

}