@import "acardionmedia.css";
.dionsAcc summary::marker{
    color: transparent;

}
/*}*/
.kaif12{
    position: absolute;
    padding-top: 13rem;
}
.hrTwo{
    margin-top: 15px;
}
#dion{
    margin-top: 20px;
}
.dion{
    display: flex;
    align-items: flex-start;
    gap: 86px;
    position: relative;
}
.dion-right {
    width: 44%;
}
.dion-left{
    cursor: pointer;
    gap: 20px;
    width: auto;
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    background: url("../../img/Kaif 11.svg") no-repeat center;
}
.icons:active{
    transform: rotate(-270deg);
}
summary{
    display: flex;
    margin: 10px 0;
    align-items: start;
    justify-content: space-between;
}
.summary-text h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    width: 96%;
}
summary .icons {
    color: #fff;
    font-size: 24px;
    transform: rotate(270deg);
}
.details-parag{
    padding-left: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
.Dion-h1{
    font-weight: 800;
    font-size: 33px;
    color: #FFFFFF;
    margin-left: -5px;
}

