
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  margin-bottom: 200px;

  &__booksF {
    position: absolute;
    right: 70px;
    top: 10px;
  }
  &__books2 {
    position: absolute;
    left: 325px;
    top: 189px;
  }
  &__books3 {
    position: absolute;
    left: -0.1%;
    top: 600px;
  }
  &__books4 {
    position: absolute;
    left: 1232.89px;
    top: 600px;
  }
  &__books5 {
    position: absolute;
    left: 440.41px;
    top: 1368px;
  }
  &__block {
    padding-left: 50px;
    width: 635px;
    height: 1289px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &__title {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: #FFFFFF;
      padding-bottom: 1px;
    }

    &__h2 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: #FFFFFF;
      padding: 10px 0;
    }

    h1 {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      color: #FFFFFF;
      padding: 20px 0;
    }

    &__inp {
      h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        padding-bottom: 7px;

      }

      input {
        width: 495px;
        height: 40px;
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        background: transparent;
        outline: none;
        padding-left: 20px;
        color: white;
        margin-bottom: 20px;
      }input::placeholder{
      color: white;
             }
    }

    &__check {
      display: flex;

      p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
      }

      input {
        //margin-right: 10px;
        margin: 0 7px;
      }

      div {
        display: flex;
        align-items: center;

      }
    }

    &__card {
      display: flex;
      margin-bottom: 10px;

      h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        padding-bottom: 1px;

      }

      &__1 {

        input {
          padding-left: 10px;
          width: 170px;
          height: 40px;
          border: 1px solid #FFFFFF;
          border-radius: 10px;
          background: transparent;
          outline: none;
          margin-right: 14px;
          color: white;
        }input::placeholder{
           color: white;
         }
      }

      &__2 {
        input {
          padding-left: 10px;
          margin-right: 13px;
          width: 64px;
          height: 40px;
          border: 1px solid #FFFFFF;
          border-radius: 10px;
          outline: none;
          background: transparent;
          color: white;

        }input::placeholder{
           color: white;
         }
      }

      &__3 {
        input {
          padding-left: 10px;
          width: 56px;
          height: 40px;
          border: 1px solid #FFFFFF;
          border-radius: 10px;
          background: transparent;
          outline: none;
          color: white;

        }input::placeholder{
           color: white;
         }
      }
    }

    &__price {
      margin-bottom: 50px;
      display: flex;

      &--block {
        div {
          display: flex;
          padding-bottom: 7px;
          p {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #FFFFFF;
            margin-left: 5px;
          }
        }

        transition: .4s;
        width: 240px;
        height: 511px;
        background: rgba(255, 255, 255, 0);
        border: 1px solid #FFFFFF;
        backdrop-filter: blur(1px);
        border-radius: 10px;
        padding-left: 10px;
        margin-right: 20px;

        h3 {
          padding-top: 12px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 500;
          font-size: 20px;
          color: #FFFFFF;
        }

        &-btn {
          display: flex;
          flex-direction: column;
          margin-top: 180px;

          h1 {
            font-weight: 600;
            font-size: 24px;
            color: #FFFFFF;
            margin-left: 20px;
          }

          button {
            width: 210px;
            height: 40px;
            background: transparent;
            border: 1px solid #FFFFFF;
            border-radius: 10px;
            font-weight: 600;
            font-size: 20px;
            color: white;
            flex: none;
            order: 0;
            flex-grow: 0;
          }

        }
        .booksBlock{
          position: absolute;
          left: 123px;
          top: 20px;
        }
        .booksBlock2{
          position: absolute;
          left: 0;
          top: 189px;

        }
      }

      &--block2 {
        &-btn {
          display: flex;
          flex-direction: column;

          h1 {
            display: flex;
            align-items: center;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            color: #FFFFFF;

            span {
              font-size: 15px;
              text-decoration: line-through;
              padding-left: 10px;
            }
          }

          button {
            width: 210px;
            height: 40px;
            background: transparent;
            border: 1px solid #FFFFFF;
            border-radius: 10px;
            font-weight: 500;
            font-size: 20px;
            color: white;
            flex: none;
            order: 0;
            flex-grow: 0;
          }
        }

        div {
          display: flex;
          padding-bottom: 7px;

          p {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #FFFFFF;
            margin-left: 5px;
          }
        }

        width: 240px;
        height: 511px;
        background: rgba(255, 255, 255, 0);
        border: 1px solid #FFFFFF;
        backdrop-filter: blur(1px);
        border-radius: 10px;
        padding-left: 10px;
        margin-right: 20px;
        transition: .4s;

        h3 {
          padding-top: 12px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 500;
          font-size: 20px;
          color: #FFFFFF;
        }


        &__check {
          display: flex;

          h4 {
            color: white;
            font-size: 15px;
          }

          &_icons {
            color: white;
            margin-top: 3px;
            margin-right: 5px;
          }

        }

      }
    }

    &__button {
      margin-bottom: 20px;

      button {
        width: 495px;
        height: 40px;
        background: #FFFFFF;
        border-radius: 10px;
        font-weight: 700;
        font-size: 20px;
        color: #6363DF;
      }
    }

    &__last {
      display: flex;

      h2 {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.71);
        margin-left: 5px;
      }

    }
  }
}